@page "/campaign/{campaignId:int}"

@rendermode InteractiveServer

@using ApiClient
@using DataTransfer.Character
@using DataTransfer.Monster
@using Website.Components.Controls
@using Website.Services
@using Website.Services.Sound

@inject ICampaignEvents CampaignEvents
@inject ICampaignApi CampaignApi
@inject ICharacterApi CharacterApi
@inject IMonsterApi MonsterApi
@inject AudioPlayer AudioPlayer

<PageTitle>@_title</PageTitle>

<div class="master-panel">
    <div class="overlay-trigger @(isVisible ? "disabled" : "")"
         @onmouseenter="ShowOverlay"
         aria-hidden="true">
    </div>

    <div class="overlay-left @(isVisible ? "visible" : "")" @onmouseleave="HideOverlay">
        <input type="text" class="filter-box" placeholder="Filter..." @bind-value="filter" @bind-value:event="oninput">
        <ul class="tree">
            <li>
                <details open>
                    <summary>
                        <h5>Charaktere</h5>
                        <button class="tree-icon-button" type="button" @onclick="OnCharactersIconClick" aria-label="Charaktere action">
                            <svg class="tree-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path fill="white" d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" />
                            </svg>
                        </button>
                    </summary>
                    <ul>
                        @foreach (var character in FilteredCharacters)
                        {
                            <li class="tree-content-item"><span class="tree-content-label">@character.CharacterName</span></li>
                        }
                    </ul>
                </details>
            </li>
        </ul>

        <ul class="tree">
            <li>
                <details open>
                    <summary>
                        <h5>Welt</h5>
                        <button class="tree-icon-button" type="button" @onclick="OnLocationsIconClick" aria-label="Welt action">
                            <svg class="tree-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path fill="white" d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" />
                            </svg>
                        </button>
                    </summary>
                    <ul>
                        @foreach (var location in FilteredLocations)
                        {
                            @RenderLocation(location)
                        }
                    </ul>
                </details>
            </li>
        </ul>

        <ul class="tree">
            <li>
                <details open>
                    <summary>
                        <h5>Monsters</h5>
                        <button class="tree-icon-button" type="button" @onclick="OnMonstersIconClick" aria-label="Monsters action">
                            <svg class="tree-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path fill="white" d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" />
                            </svg>
                        </button>
                    </summary>
                    <ul>
                        @foreach (var monster in FilteredMonsters)
                        {
                            <li class="tree-content-item"><span class="tree-content-label" @onclick="() => OnMonsterClick(monster)">@monster.Name</span></li>
                        }
                    </ul>
                </details>
            </li>
        </ul>
    </div>

    <div class="overlay-right @(isVisible ? "shifted" : "")">
        <div class="top-menu">
            <button class="btn btn-overlay" @onclick="OnOpenCharacter">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 640 640"><path d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z" /></svg>
            </button>
            <button class="btn btn-overlay" @onclick="OnOpenChat">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 640 640"><path d="M576 304C576 436.5 461.4 544 320 544C282.9 544 247.7 536.6 215.9 523.3L97.5 574.1C88.1 578.1 77.3 575.8 70.4 568.3C63.5 560.8 62 549.8 66.8 540.8L115.6 448.6C83.2 408.3 64 358.3 64 304C64 171.5 178.6 64 320 64C461.4 64 576 171.5 576 304z" /></svg>
            </button>
            <button class="btn btn-overlay" @onclick="OnOpenGrid">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 640 640"><path d="M96 128C96 110.3 110.3 96 128 96L176 96C193.7 96 208 110.3 208 128L208 176C208 193.7 193.7 208 176 208L128 208C110.3 208 96 193.7 96 176L96 128zM96 296C96 278.3 110.3 264 128 264L176 264C193.7 264 208 278.3 208 296L208 344C208 361.7 193.7 376 176 376L128 376C110.3 376 96 361.7 96 344L96 296zM208 464L208 512C208 529.7 193.7 544 176 544L128 544C110.3 544 96 529.7 96 512L96 464C96 446.3 110.3 432 128 432L176 432C193.7 432 208 446.3 208 464zM264 128C264 110.3 278.3 96 296 96L344 96C361.7 96 376 110.3 376 128L376 176C376 193.7 361.7 208 344 208L296 208C278.3 208 264 193.7 264 176L264 128zM376 296L376 344C376 361.7 361.7 376 344 376L296 376C278.3 376 264 361.7 264 344L264 296C264 278.3 278.3 264 296 264L344 264C361.7 264 376 278.3 376 296zM264 464C264 446.3 278.3 432 296 432L344 432C361.7 432 376 446.3 376 464L376 512C376 529.7 361.7 544 344 544L296 544C278.3 544 264 529.7 264 512L264 464zM544 128L544 176C544 193.7 529.7 208 512 208L464 208C446.3 208 432 193.7 432 176L432 128C432 110.3 446.3 96 464 96L512 96C529.7 96 544 110.3 544 128zM432 296C432 278.3 446.3 264 464 264L512 264C529.7 264 544 278.3 544 296L544 344C544 361.7 529.7 376 512 376L464 376C446.3 376 432 361.7 432 344L432 296zM544 464L544 512C544 529.7 529.7 544 512 544L464 544C446.3 544 432 529.7 432 512L432 464C432 446.3 446.3 432 464 432L512 432C529.7 432 544 446.3 544 464z" /></svg>
            </button>
            <button class="btn btn-overlay" @onclick="ToggleSoundSelection">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 640 640"><path d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" /></svg>
            </button>
            <button class="btn btn-overlay" @onclick="ToggleDiceRoller">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 640 640"><path d="M288.4 55.8C308 44.7 332 44.7 351.5 55.8L543.5 164.6C563.5 176 575.9 197.2 575.9 220.3L575.9 435.9C575.9 458.9 563.5 480.2 543.5 491.6L351.5 600.4C331.9 611.5 307.9 611.5 288.4 600.4L96.4 491.5C76.4 480.1 64 458.8 64 435.8L64 220.2C64 197.2 76.4 175.9 96.4 164.5L288.4 55.8zM340.4 129C331 113.8 309 113.8 299.6 129L223 252.7L137.6 206.4L133.8 204.8C124.9 202.1 115 205.9 110.4 214.4C105.8 222.9 108 233.3 115.1 239.2L118.4 241.5L201.8 286.7L127.2 407.3C119.3 420.2 125 437 139 442.4L300 504.3L300 544C300 555 309 564 320 564C331 564 340 555 340 544L340 504.3L501 442.4C515 437 520.7 420.2 512.8 407.4L438.1 286.8L521.5 241.6C531.2 236.3 534.8 224.2 529.6 214.5C524.4 204.8 512.2 201.2 502.5 206.4L417 252.7L340.4 129zM293.4 458.9L171.4 412L225.9 323.9L293.4 458.9zM468.6 412L346.6 458.9L414.1 323.9L468.6 412zM383.3 296L320 422.6L256.7 296L383.3 296zM372 256L267.9 256L319.9 172L371.9 256z" /></svg>
            </button>
        </div>

        <div class="overlay-content">
            <div class="@VisibilityClass(typeof(Chat))">
                <Chat CampaignId="@CampaignId" />
            </div>
            <div class="@VisibilityClass(typeof(Grid))">
                <Grid CampaignId="@CampaignId" Map="_map" />
            </div>
            <div class="@VisibilityClass(typeof(Monsters))">
                <Monsters @ref="_monsters" />
            </div>
            <div class="@VisibilityClass(typeof(CharacterCreation))">
                <CharacterCreation CampaignId="@CampaignId" OnCreated="OnCharacterCreated" />
            </div>
            <div class="@VisibilityClass(typeof(Character))">
                <Character CampaignId="@CampaignId" />
            </div>
        </div>
    </div>
    <div class="left-panel">
        <Map CampaignId="@CampaignId" IsGameMaster="@_isGameMaster" @ref="_map"></Map>

        <div class="micro-menu">
            @if (_isGameMaster)
            {
                <button class="btn btn-overlay btn-map" @onclick="ToggleMapSelection">
                    <i class="bi bi-map"></i>
                </button>
            }
        </div>

        @if (_isGameMaster)
        {
            <MapSelection CampaignId="@CampaignId" @ref="_mapSelection" />
            <Soundboard CampaignId="@CampaignId" @ref="_soundboard" />
        }

        <DiceRoller CampaignId="@CampaignId" @ref="_diceRoller" />
        <DiceRollVisualizer />
        <InitiativeList CampaignId="@CampaignId" IsGameMaster="@_isGameMaster" />
    </div>
    <div class="right-panel">
        <div class="tab">
            <button class="@GetTabStyle(TabIndex.Chat)" @onclick="() => ActiveTab(TabIndex.Chat)">Chat</button>

            @if (_isGameMaster)
            {
                <button class="@GetTabStyle(TabIndex.Script)" @onclick="() => ActiveTab(TabIndex.Script)">
                    Skript
                </button>
                <button class="@GetTabStyle(TabIndex.Characters)" @onclick="() => ActiveTab(TabIndex.Characters)">
                    Charaktere
                </button>
                <button class="@GetTabStyle(TabIndex.Monsters)" @onclick="() => ActiveTab(TabIndex.Monsters)">
                    Monster
                </button>
            }
            else
            {
                <button class="@GetTabStyle(TabIndex.Character)" @onclick="() => ActiveTab(TabIndex.Character)">
                    Charakter
                </button>
            }
        </div>

        <div class="tab-content">
            <div class="@GetContentStyle(TabIndex.Chat)">
                <Chat CampaignId="@CampaignId"></Chat>
            </div>

            @if (_isGameMaster)
            {
                <div class="@GetContentStyle(TabIndex.Script)">
                    <Script CampaignId="@CampaignId"></Script>
                </div>
            }

            <div class="@GetContentStyle(TabIndex.Character)">
                <Character CampaignId="@CampaignId"></Character>
            </div>

            @if (_isGameMaster)
            {
                <div class="@GetContentStyle(TabIndex.Characters)">
                    <Characters CampaignId="@CampaignId"></Characters>
                </div>

                <div class="@GetContentStyle(TabIndex.Monsters)">
                    <Monsters></Monsters>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public int CampaignId { get; set; }

    private string _title = "Unbekannte Kampagne";
    private bool _isGameMaster;
    private TabIndex _activeTabIndex = TabIndex.Chat;

    private Map? _map;
    private MapSelection? _mapSelection;
    private Soundboard? _soundboard;
    private DiceRoller? _diceRoller;
    private Monsters? _monsters;

    private Type _activeContent = typeof(Chat);
    private string VisibilityClass(Type contentType) => _activeContent == contentType ? "content-visible" : "content-hidden";

    private bool isVisible;

    private void ShowOverlay() => isVisible = true;
    private void HideOverlay() => isVisible = false;

    private string filter = "";

    private record LocationItem(int Id, string Name, LocationItem[] SubLocations);

    private List<CharactersDto> characters = [];

    private IEnumerable<CharactersDto> FilteredCharacters => string.IsNullOrWhiteSpace(filter)
            ? characters
            : characters.Where(c => c.CharacterName.Contains(filter, StringComparison.OrdinalIgnoreCase));

    private List<LocationItem> locations =
    [
        new(1, "Schwertküste", []),
        new(2, "Golinpfeile",
        [
            new(3, "Cragmaw Versteck", []),
            new(4, "Hinterhalt", []),
        ]),
        new(5, "Phandalin",
        [
            new(6, "Taverne",[]),
            new(7, "Versteck der Rotbrenner",[]),
        ]),
        new(8, "Das Netz der Spinne",
        [
            new(9, "Agatha's Behausung",[]),
            new(10, "Alter Eulenbrunnen",[]),
            new(11, "Burg Crawmaw",[]),
            new(12, "Ruinen von Donenerbaum",[]),
            new(13, "Wyvernkuppe",
            [
                new(14, "Test", []),
            ]),
        ]),
    ];

    private IEnumerable<LocationItem> FilteredLocations
    {
        get
        {
            if (string.IsNullOrWhiteSpace(filter))
                return locations;

            LocationItem? Filter(LocationItem item)
            {
                var filteredChildren = item.SubLocations
                    .Select(Filter)
                    .Where(x => x is not null)
                    .Cast<LocationItem>()
                    .ToArray();

                if (item.Name.Contains(filter, StringComparison.OrdinalIgnoreCase) || filteredChildren.Length > 0)
                {
                    return new LocationItem(item.Id, item.Name, filteredChildren);
                }

                return null;
            }

            return locations.Select(Filter).Where(x => x is not null)!.Cast<LocationItem>();
        }
    }

    private List<MonstersDto> monsters = [];

    private IEnumerable<MonstersDto> FilteredMonsters => string.IsNullOrWhiteSpace(filter)
            ? monsters
            : monsters.Where(m => m.Name.Contains(filter, StringComparison.OrdinalIgnoreCase));

    private RenderFragment RenderLocation(LocationItem item)
    {
        return @<li class="tree-content-item">
        @if (item.SubLocations.Length > 0)
        {
                <details open>
                    <summary><span class="tree-content-label">@item.Name</span></summary>
                    <ul>
                        @foreach (var child in item.SubLocations)
                        {
                            @RenderLocation(child)
                        }
                    </ul>
                </details>
        }
        else
        {
                <span class="tree-content-label">@item.Name</span>
        }
        </li>
    ;
    }

    private enum TabIndex
    {
        Chat,
        Script,
        Character,
        Characters,
        Monsters
    }

    private void ActiveTab(TabIndex tabIndex)
    {
        _activeTabIndex = tabIndex;
    }

    private string GetTabStyle(TabIndex tabIndex)
    {
        return tabIndex == _activeTabIndex ? "active" : string.Empty;
    }

    private string GetContentStyle(TabIndex tabIndex)
    {
        return tabIndex == _activeTabIndex ? "tab-content-element" : "hidden";
    }

    private void ToggleDiceRoller()
    {
        _diceRoller?.Toggle();
    }

    private async Task ToggleMapSelection()
    {
        if (_mapSelection is not null)
        {
            await _mapSelection.Toggle();
        }
    }

    private async Task ToggleSoundSelection()
    {
        if (_soundboard is not null)
        {
            await _soundboard.Toggle();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            {
                var response = await CampaignApi.GetAsync(CampaignId);

                response.Match(
                    campaign =>
                    {
                        _title = campaign.Name;
                        _isGameMaster = campaign.IsGameMaster;
                    },
                    statusCode =>
                    {
                        // ToDo: Log + Toast
                    }
                );

                await CampaignEvents.Connect(CampaignId);
            }


            {
                var response = await CharacterApi.GetAllAsync(CampaignId);

                characters = response.Match(
                    characters => characters.ToList(),
                    statusCode => []  // ToDo: Toast
                );
            }

            {
                var response = await MonsterApi.GetAllAsync();

                monsters = response.Match(
                    monsters => monsters.ToList(),
                    statusCode => [] // ToDo: Toast
                    );
            }

            StateHasChanged();
        }
    }

    private void OnCharactersIconClick()
    {
        _activeContent = typeof(CharacterCreation);
        StateHasChanged();
    }

    private void OnCharacterCreated(CharacterCreationDto args)
    {
        _activeContent = typeof(Character);
        StateHasChanged();
    }

    private void OnLocationsIconClick()
    {
        // TODO: implement behavior for Locations icon
    }

    private void OnMonstersIconClick()
    {
        // TODO: implement behavior for Monsters icon
    }

    private void OnMonsterClick(MonstersDto monster)
    {
        _activeContent = typeof(Monsters);

        if (_monsters != null)
        {
            _monsters.SetMonster(monster);
        }

        StateHasChanged();
    }

    private void OnOpenCharacter(MouseEventArgs args)
    {
        _activeContent = typeof(Character);
        StateHasChanged();
    }

    private void OnOpenChat(MouseEventArgs args)
    {
        _activeContent = typeof(Chat);
        StateHasChanged();
    }

    private void OnOpenGrid(MouseEventArgs args)
    {
        _activeContent = typeof(Grid);
        StateHasChanged();
    }
}