@using ApiClient
@using DataTransfer.Chat
@using Website.Services

@rendermode InteractiveServer

@inject IChatApi ChatApi
@inject ICampaignEvents CampaignEvents

@implements IDisposable

<div class="chat-container">
    <div class="chat-messages">
        @foreach (var chatMessage in _chatMessages)
        {
            <div class="chat-message">
                <div class="chat-message-container">
                    @if (chatMessage.Direction == MessageDirection.Received)
                    {
                        <img class="chat-message-image" alt="" title="@chatMessage.Sender" src="@chatMessage.Image" />
                    }
                    <div class="@GetTextStyleClasses(chatMessage)">@chatMessage.Text</div>
                </div>
                <div class="chat-message-timestamp-container">
                    <div class="@GetTimestampStyleClasses(chatMessage)">@chatMessage.Timestamp.ToString("HH:mm")</div>
                </div>
            </div>
        }
    </div>
    <div class="chat-input">
        <div class="input-group mb-3">
            <div class="input-group-prepend dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    @_target?.Name
                </button>
                <ul class="dropdown-menu">
                    @foreach (var chatUser in _chatUsers)
                    {
                        <li class="dropdown-item"
                            @onclick="async () => await OnSelectTarget(chatUser)">@chatUser.Name</li>
                    }
                </ul>
            </div>
            <input type="text" class="form-control" placeholder="Nachricht an @_target?.Name"
                   @bind-value="_inputText"
                   @bind-value:event="oninput"
                   @onkeydown="OnKeyDown">
        </div>
    </div>
</div>


@code {
    [Parameter] public int CampaignId { get; set; }

    private string _inputText = string.Empty;

    private readonly List<ChatMessageEventArgs> _chatMessages = [];

    private IEnumerable<ChatUserDto> _chatUsers = [];
    private ChatUserDto? _target;

    public void Dispose()
    {
        CampaignEvents.ChatMessageReceived -= OnReceivedChatMessage;
    }

    protected override void OnInitialized()
    {
        CampaignEvents.ChatMessageReceived += OnReceivedChatMessage;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await ChatApi.GetUsers(CampaignId);

            _chatUsers = response.Match<IEnumerable<ChatUserDto>>(
                chatUsers => chatUsers,
                statusCode =>
                {
                    // ToDo: Toast
                    return [];
                });

            _target = _chatUsers.First();
        }
    }

    private async Task OnReceivedChatMessage(ChatMessageEventArgs e)
    {
        _chatMessages.Add(e);
        await InvokeAsync(StateHasChanged);
    }

    private static string GetTextStyleClasses(ChatMessageEventArgs e)
    {
        var style = "chat-message-text";

        style += e.Type switch
        {
            ChatMessageType.DiceRoll => e.Direction == MessageDirection.Sent ? " chat-message-dice-roll-sent" : " chat-message-dice-roll-received",
            ChatMessageType.Message => e.Direction == MessageDirection.Sent ? " chat-message-sent" : " chat-message-received",
            _ => throw new Exception("Unhandled chat message type")
        };

        if (e.IsPrivate)
        {
            style += " chat-message-private";
        }

        return style;
    }

    private static string GetTimestampStyleClasses(ChatMessageEventArgs e)
    {
        var style = "chat-message-timestamp";
        style += e.Direction == MessageDirection.Sent ? " chat-message-timestamp-sent" : " chat-message-timestamp-received";
        return style;
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (_target is null) return;

        if (_inputText.StartsWith("@"))
        {
            var target = _inputText.Substring(1, _inputText.Length - 1);

            var chatUser = _chatUsers.FirstOrDefault(character =>
                target.StartsWith(character.Name, StringComparison.OrdinalIgnoreCase));

            if (chatUser is not null)
            {
                _target = chatUser;
                _inputText = "";
                await InvokeAsync(StateHasChanged);
                return;
            }
        }

        if (e.Code is "Enter" or "NumpadEnter")
        {
            var payload = new ChatMessageDto(_target.Id, _inputText);
            await ChatApi.SendMessageAsync(CampaignId, payload);
            _inputText = "";
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task OnSelectTarget(ChatUserDto character)
    {
        _target = character;
        await InvokeAsync(StateHasChanged);
    }

}