@using ApiClient
@using DataTransfer.Monster
@using Website.Services

@inject IDragAndDrop DragAndDrop

@if (_monster is null)
{
    <div>Kein Monster is ausgewählt</div>
}
else
{
    <div class="monsters">
        <div class="monsters-item" draggable="true" @ondragstart="() => OnDragStart(_monster)">
            <img class="monster-icon" src="data:image/png;base64,@Convert.ToBase64String(_monster.Image)" alt="Icon" />
            <div class="monster-texts">
                <div class="monster-name">@_monster.Name</div>
                <div class="monster-details">
                    <div class="monster-detail">@_monster.SizeCategory</div>
                    <div class="monster-detail">@_monster.Type</div>
                    <div class="monster-detail">@_monster.Alignment</div>
                </div>
            </div>
            <div class="diamond">
                <div class="monster-challenge-rating">@_monster.ChallengeRating</div>
            </div>
        </div>
    </div>
}

@code {
    private MonstersDto? _monster;

    public void SetMonster(MonstersDto monster)
    {
        _monster = monster;
        StateHasChanged();
    }

    private void OnDragStart(MonstersDto monster)
    {
        DragAndDrop.Data = monster;
    }
}